.btn{
    -fx-background-color: linear-gradient(to bottom right, #7AB2D3, #B9E5E8);
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.btn:hover{
    -fx-background-color: linear-gradient(to bottom right, #0fb565, #399a8f);
}

.btn_font{
    -fx-font-family: "Josefin Sans";

}

.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5,0,0,0);
}

.white-bg{
    -fx-background-color: #fff;
}

.radius{
    -fx-background-radius: 8px;
}

.combobox_font{
    -fx-font-family: "Josefin Sans";
}

/*khung product_quantitu_price*/
.table-view1{
    -fx-background-color: transparent;
    -fx-padding: 0;
    /*-fx-border-color: linear-gradient(to bottom right, #4A628A, #7AB2D3);*/
    -fx-border-color: linear-gradient(to bottom right, #7AB2D3, #B9E5E8);
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
}

.table-view2{
    -fx-background-color: transparent;
    -fx-padding: 0;
    /*-fx-border-color: linear-gradient(to bottom right, #4A628A, #7AB2D3);*/
    -fx-border-color: linear-gradient(to bottom right, #7AB2D3, #B9E5E8);
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-font-family: "Josefin Sans";
    -fx-font-size: 15px;
    -fx-text-fill: #5c5c5c;
}

.table-view3{
    -fx-background-color: transparent;
    -fx-padding: 0;
    /*-fx-border-color: linear-gradient(to bottom right, #4A628A, #7AB2D3);*/
    -fx-border-color: linear-gradient(to bottom right, #7AB2D3, #B9E5E8);
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-font-family: "Josefin Sans";
    -fx-font-size: 15px;
    -fx-text-fill: #9c9c9c;
}
.table-view .column-header-background{
    /*-fx-background-color: linear-gradient(to bottom right, #4A628A, #7AB2D3);*/

    -fx-background-color: linear-gradient(to bottom right, #7AB2D3, #B9E5E8);
    -fx-background-radius: 5px 5px 0 0;
    -fx-background-insets: 0 0 0 0;
}
.table-view .column-header, .filter{
    -fx-background-color: transparent;
    -fx-size: 40px;
}
.table-view .column-header .label{
    -fx-text-fill: #fff;
}